.sign-up {
  display: flex;
  /* align-items: center; */
  min-height: 100vh;
}


.signup-content {
  width: 75%;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
  gap: 2rem;

  color: rgb(20, 20, 85);
}

form {
  text-align: center;
}

.title {
  color: rgb(20, 20, 85);
  font-size: 3rem;
  margin-bottom: 2rem;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid rgb(20, 20, 85);
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.icon {
  margin-right: 10px;
  color: rgb(20, 20, 85);
  font-size: 16px;
}

input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.agreement-text {
  color: rgb(20, 20, 85);
  font-size: 12px;
  margin-bottom: 1.5rem;
}

form button {
  border: none;
  background: rgb(20, 20, 85);
  padding: 15px 50px;
  color: #fff;
  border-radius: 30px;
}

.signup-with {
  display: flex;
  align-items: center;
  gap: 12px;
}

.signup-with .line {
  width: 50px;
  border-top: 3px solid rgb(20, 20, 85);
}

/* Social Links */

.social-icons {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.social-icons .social {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  transition: all 0.3s ease;
}

.social-icons .social:hover {
  transform: scale(1.05);
}

.social-icons .social.google {
  color: #db4437;
}

.social-icons .social.facebook {
  color: #1877f2;
}

.social-icons .social.x {
  color: #000;
}
